.blueArea {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 100px;
    background-color: #0c4da2;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 25px;
}

.blueCellHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geq {
    position: absolute;
    color: white;
    font-size: 60px;
    right: -11px;
    z-index: 1;
    -webkit-text-stroke: 2px #0c4da2;
}

.blueArea .star {
    position: absolute;
    z-index: 1;
    top: -40px;
    fill: #0c4da2;
}