.cellHolder {
    position: relative;
}

.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
    font-weight: bolder;
    font-size: 25px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.selectable {
    background-color: yellowgreen;
}

.cellValue {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 6px; /* 5px margin + 1px border */
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}