.die {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    /* What you have to do to center things in CSS... */
    display: flex;
    align-items: center;
    justify-content: center;
}

.die.selected {
    border: 2px solid red;
}