.outerBorder {
    width: 70px;
    height: 70px;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dieSlot {
    width: 50px;
    height: 50px;
    border: 5px solid grey;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
    /* What you have to do to center things in CSS... */
    display: flex;
    align-items: center;
    justify-content: center;
}
