.greenArea {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 65px;
    background-color: rgb(140, 198, 63);
    display: flex;
    align-items: center;
    margin: 10px;
}

.greenCellHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greenArea .cell {
    color: rgba(140, 198, 63, 0.5);
}

.minus {
    position: absolute;
    left: 47px;
    color: white;
    font-size: 60px;
    z-index: 1;
    -webkit-text-stroke: 2px #8cc63f;
}

.greenArea .star {
    position: absolute;
    left: 38px;
    z-index: 1;
    top: -15px;
    fill: #8cc63f;
}