.pinkArea {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 80px;
    background-color: rgb(233, 73, 147);
    display: flex;
    align-items: center;
    margin: 10px;
}

.pinkArea .cell {
    color: rgba(233, 73, 147, 0.5);
}