@font-face {
    font-family: CleverFont;
    src: url("../../public/CleverFont.otf");
}

body {
    background-color: #222222;
    font-family: CleverFont;
    user-select: none;
}

.topArea {
    display: flex;
    justify-content: left;
}

.topArea > * {
    margin: 20px;
}