.silverPlatter {
    width: 300px;
    height: 300px;
    background-color: silver;
    border: 5px solid whitesmoke;
    border-radius: 100%;
    position: relative; /* This will anchor the dice below with absolute positioning */
}