.silverArea {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 45%;
    height: 300px;
    background-color: #4c4d4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.silverCellHolder .cellValue {
    font-size: 50px;
}

.silverCellHolder .cell {
    border-width: 4px;
}

.silverCellHolder.yellow .cell {
    border-color: #feca06;
    color: #feca06;

}

.silverCellHolder.blue .cell {
    border-color: #0349a5;
    color: #0349a5;
}

.silverCellHolder.green .cell {
    border-color: #8cc63f;
    color: #8cc63f;
}

.silverCellHolder.pink .cell {
    border-color: rgb(233, 73, 147);
    color: rgb(233, 73, 147);
}

.silverPointsHolder {
    display: flex;
    width: 384px;
    justify-content: space-between;
}

.silverPointHolder {
    display: flex;
    align-items: baseline;
    font-size: 28px;
    color: #939598;
}
