.star {
    background-image: url('../../public/star.svg');
    width: 38px;
    height: 38px;
}

.starText {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    font-size: 20px;
}
