.turnCell {
    height: 80px;
    width: 60px;
    border: 5px whitesmoke solid;
    border-radius: 10px;
    background-color: silver;
    /* Center contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.turnNumber {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    font-size: larger;
    /* centering */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross {
    position: absolute;
    font-size: 50px;
}
