.yellowArea {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    width: 50%;
    height: 400px;
    background-color: #a68305;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.yellowArea .cell {
    color: #ffc40a;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yellowCellHolder .cellValue {
    font-size: 50px;
}

.yellowPointsHolder {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.yellowPointHolder {
    display: flex;
    align-items: baseline;
    font-size: 28px;
    color: #ffc40a;
}

.yellowPointHolderFirstRow {
    position: relative;
    left: 35px;
}
